<div>

    <div class="form-group">
        <label>{{localize "Label"}}</label>
        <div class="form-fields">
            <input name="label" type="text" value="{{scriptData.label}}"></input>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "WH.ScriptTrigger"}}</label>
        <div class="form-fields">
            <select name="trigger">
                {{selectOptions (config "scriptTriggers") selected=scriptData.trigger localize=true}}
            </select>
        </div>
    </div>

    {{#if (eq scriptData.trigger "dialog")}}
        {{#if (eq effect.system.transferData.documentType "Actor")}}
        <div class="form-group" data-tooltip="WH.TargeterTT">
            <label>{{localize "WH.Targeter"}}</label>
            <div class="form-fields">
                <input name="targeter" type="checkbox" {{checked scriptData.options.targeter}}>
            </div>
        </div>
        {{/if}}
        <div class="form-group" data-tooltip="WH.DefendingAgainstTT">
            <label>{{localize "WH.DefendingAgainst"}}</label>
            <div class="form-fields">
                <input name="defending" type="checkbox" {{checked scriptData.options.defending}}>
            </div>
        </div>
    {{/if}}


    {{#if (eq scriptData.trigger "immediate")}}
        <div class="form-group">
            <label>{{localize "WH.DeleteEffect"}}</label>
            <div class="form-fields">
                <p class="hint">{{localize "WH.DeleteEffectHint"}}</p>
                <input name="deleteEffect" type="checkbox" {{checked scriptData.options.deleteEffect}}>
            </div>
        </div>
    {{/if}}


        {{#if hasScriptReferences}}
        <div class="form-group">
            <label data-tooltip="WH.ScriptLockTT" data-tooltip-direction="LEFT">{{localize "WH.ScriptLock"}} <i class="fa-regular fa-circle-info"></i></label>
            <div class="form-fields">
                <input data-action="toggleLock" type="checkbox" {{checked scriptLock}}>
            </div>
        </div>
    {{/if}}

<hr>

    <div class="script-fields">

            
        {{#if (eq scriptData.trigger "dialog")}}
            <label>{{localize "WH.DialogScript"}} <a data-action="copyScript" data-script="script"><i class="fa-solid fa-copy"></i></a></label>
        {{else}}
            <a data-action="copyScript" data-script="script"><i class="fa-solid fa-copy"></i></a>
        {{/if}}

        {{#if lockedScripts.script}}
            {{formInput fields.script value=dereferencedScripts.script language="javascript" elementType="code-mirror" disabled="true" readOnly="true" readonly="true"}}
        {{else}}
            {{formInput fields.script value=script language="javascript" elementType="code-mirror" name="script" disabled=(not (isGM))}}
        {{/if}}



    {{#if (eq scriptData.trigger "dialog")}}
        <div class="form-group stacked script">
            <label>{{localize "WH.HideScript"}} <a data-action="copyScript" data-script="hideScript"><i class="fa-solid fa-copy"></i></a></label>
                {{#if lockedScripts.hideScript}}
                    {{formInput fields.options.fields.hideScript value=dereferencedScripts.options.hideScript language="javascript" elementType="code-mirror" disabled="true"}}
                {{else}}
                    {{formInput fields.options.fields.hideScript value=scriptData.options.hideScript language="javascript" elementType="code-mirror" name="hideScript" disabled=(not (isGM))}}
                {{/if}}
        </div>

        <div class="form-group stacked script">
            <label>{{localize "WH.ActivateScript"}} <a data-action="copyScript" data-script="activateScript"><i class="fa-solid fa-copy"></i></a></label>
                {{#if lockedScripts.activateScript}}
                    {{formInput fields.options.fields.activateScript value=dereferencedScripts.options.activateScript language="javascript" elementType="code-mirror" disabled="true"}}
                {{else}}
                    {{formInput fields.options.fields.activateScript value=scriptData.options.activateScript language="javascript" elementType="code-mirror" name="activateScript" disabled=(not (isGM))}}
                {{/if}}
        </div>
        <div class="form-group stacked script">
            <label>{{localize "WH.SubmissionScript"}} <a data-action="copyScript" data-script="submissionScript"><i class="fa-solid fa-copy"></i></a></label>
                {{#if lockedScripts.submissionScript}}
                    {{formInput fields.options.fields.submissionScript value=dereferencedScripts.options.submissionScript language="javascript" elementType="code-mirror" disabled="true"}}
                {{else}}
                    {{formInput fields.options.fields.submissionScript value=scriptData.options.submissionScript language="javascript" elementType="code-mirror" name="submissionScript" disabled=(not (isGM))}}
                {{/if}}
        </div>
    {{/if}}

</div>