<div>
        {{#if hasScriptReferences}}
        <div class="form-group">
            <label>{{localize "WH.ScriptLock"}}</label>
            <input data-action="toggleLock" type="checkbox" {{checked scriptLock}}>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "Label"}}</label>
        <input name="label" type="text" value="{{scriptData.label}}"></input>
    </div>

    <div class="form-group">
        <label>{{localize "WH.ScriptTrigger"}}</label>
        <select name="trigger">
            {{selectOptions (config "scriptTriggers") selected=scriptData.trigger}}
        </select>
    </div>

    {{#if (eq scriptData.trigger "dialog")}}
        {{#if (eq effect.system.transferData.documentType "Actor")}}
        <div class="form-group" data-tooltip="WH.TargeterTT">
            <label>{{localize "WH.Targeter"}}</label>
            <div class="form-fields">
                <input name="targeter" type="checkbox" {{checked scriptData.options.targeter}}>
            </div>
        </div>
        {{/if}}
        <div class="form-group" data-tooltip="WH.DefendingAgainstTT">
            <label>{{localize "WH.DefendingAgainst"}}</label>
            <div class="form-fields">
                <input name="defending" type="checkbox" {{checked scriptData.options.defending}}>
            </div>
        </div>
    {{/if}}


    {{#if (eq scriptData.trigger "immediate")}}
        <div class="form-group">
            <label>{{localize "WH.DeleteEffect"}}</label>
            <div class="form-fields">
                <input name="deleteEffect" type="checkbox" {{checked scriptData.options.deleteEffect}}>
                <p class="hint">{{localize "WH.DeleteEffectHint"}}</p>
            </div>
        </div>
    {{/if}}




    <div class="script-fields">
        {{#if (eq scriptData.trigger "dialog")}}
            <div class="form-group stacked script">
                <label>{{localize "WH.HideScript"}}</label>
                    {{#if lockedScripts.hideScript}}
                        <textarea disabled class="inactive"
                            name="hideScript">{{dereferencedScripts.options.hideScript}}</textarea>
                    {{else}}
                        <textarea {{#unless (isGM)}}disabled{{/unless}}
                            name="hideScript">{{scriptData.options.hideScript}}</textarea>
                    {{/if}}
            </div>

            <div class="form-group stacked script">
                <label>{{localize "WH.ActivateScript"}}</label>
                    {{#if lockedScripts.activateScript}}
                        <textarea disabled class="inactive"
                            name="activateScript">{{dereferencedScripts.options.activateScript}}</textarea>
                    {{else}}
                        <textarea {{#unless (isGM)}}disabled{{/unless}}
                            name="activateScript">{{scriptData.options.activateScript}}</textarea>
                    {{/if}}
            </div>
            <div class="form-group stacked script">
                <label>{{localize "WH.SubmissionScript"}}</label>
                    {{#if lockedScripts.submissionScript}}
                        <textarea disabled class="inactive"
                            name="submissionScript">{{dereferencedScripts.options.submissionScript}}</textarea>
                    {{else}}
                        <textarea {{#unless (isGM)}}disabled{{/unless}}
                            name="submissionScript">{{scriptData.options.submissionScript}}</textarea>
                    {{/if}}
            </div>
        {{/if}}


    <div class="form-group stacked script">
        <label>{{localize "WH.Script"}}</label>
            {{#if lockedScripts.script}}
            <textarea disabled class="inactive" name="activateScript">{{dereferencedScripts.script}}</textarea>
            {{else}}
            <textarea {{#unless (isGM)}}disabled{{/unless}} name="script">{{script}}</textarea>
            {{/if}}
    </div>
    </div>

</div>