<div class="form-group">
    <label>{{localize "Label"}}</label>
    <input name="label" type="text" value="{{script.label}}"></input>
</div>

<div class="form-group">
    <label>{{localize "WH.ScriptTrigger"}}</label>
    <select name="trigger">
        {{#select script.trigger}}
            <option></option>
            {{#each (config "scriptTriggers")}}
                <option value="{{@key}}">{{this}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group" data-option="dialog">
    <label>{{localize "WH.Targeter"}}</label>
    <input name="targeter" type="checkbox" {{checked script.options.targeter}}>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "WH.HideScript"}}</label>
    <div>
         {{#if lockedScripts.hideScript}}
        <textarea disabled class="inactive" name="hideScript">{{dereferencedScripts.options.hideScript}}</textarea>
        {{else}}
        <textarea  class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="hideScript">{{script.options.hideScript}}</textarea>
        {{/if}}
    </div>
</div>

<div class="form-group stacked" data-option="dialog">
    <label>{{localize "WH.AcivationScript"}}</label>
    <div>
        {{#if lockedScripts.activateScript}}
        <textarea disabled class="inactive" name="activateScript">{{dereferencedScripts.options.activateScript}}</textarea>
        {{else}}
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="activateScript">{{script.options.activateScript}}</textarea>
        {{/if}}
    </div>
</div>


<div class="form-group stacked" data-option="dialog">
    <label>{{localize "WH.SubmissionScript"}}</label>
    <div>
        <textarea class="no-ace" {{#unless (isGM)}}disabled{{/unless}} name="submissionScript">{{script.options.submissionScript}}</textarea>
    </div>
</div>


<div class="form-group" data-option="immediate">
    <label>{{localize "WH.DeleteEffect"}}</label>
    <input name="deleteEffect" type="checkbox" {{checked script.options.deleteEffect}}>
    <p class="notes">{{localize "WH.DeleteEffectHint"}}</p>
</div>



