<div class="wh-effect-config">
    {{#with this.object}}
        <div class="form-group">
            <label>{{localize "WH.TransferData.TransferType"}}</label>
            <select name="system.transferData.type">
                {{#select system.transferData.type}}
                    {{#each (config "transferTypes")}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <p class="notes">{{localize "WH.TransferData.TransferTypeHint"}}</p>
        </div>



        <div class="form-group">
            <label>{{localize "WH.TransferData.DocumentType"}}</label>
            <select name="system.transferData.documentType">
                {{#select system.transferData.documentType}}
                    <option value="Actor">{{localize "Actor"}}</option>
                    <option value="Item">{{localize "Item"}}</option>
                {{/select}}
            </select>
            <p class="notes">{{localize "WH.TransferData.DocumentTypeHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "WH.TransferData.AvoidTest"}}
                {{#if (eq system.transferData.avoidTest.value "script")}}<a class="script-config"
                        data-path="system.transferData.avoidTest.script"><i
                            class="fa-solid fa-gear-complex-code"></i></a>{{/if}}</label>
            <select name="system.transferData.avoidTest.value">
                {{#select system.transferData.avoidTest.value}}
                    <option value="none">{{localize "WH.TransferData.AvoidTestNone"}}</option>
                    <option value="custom">{{localize "WH.TransferData.AvoidTestCustom"}}</option>
                    <option value="script">{{localize "WH.TransferData.AvoidTestScript"}}</option>
                {{/select}}
            </select>
            <p class="notes">{{localize "WH.TransferData.AvoidTestHint"}}</p>
        </div>

        {{#unless (eq system.transferData.avoidTest.value "script")}}
            {{#unless (eq system.transferData.avoidTest.value "none")}}
                <div class="form-group">
                    <label>{{localize "WH.TransferData.Opposed"}}</label>
                    <input type="checkbox" name="system.transferData.avoidTest.opposed" {{checked
                        system.transferData.avoidTest.opposed}}>
                </div>
            {{/unless}}
        {{/unless}}

        {{#unless (eq system.transferData.avoidTest.value "none")}}
            <div class="form-group">
                <label>{{localize "WH.TransferData.Prevention"}}</label>
                <input type="checkbox" name="system.transferData.avoidTest.prevention" {{checked
                    system.transferData.avoidTest.prevention}}>
                <p class="notes">{{{localize "WH.TransferData.AvoidTestPrevention"}}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "WH.TransferData.Reversed"}}</label>
                <input type="checkbox" name="system.transferData.avoidTest.reversed" {{checked
                    system.transferData.avoidTest.reversed}}>
                <p class="notes">{{{localize "WH.TransferData.AvoidTestReversed"}}}</p>
            </div>
            {{#unless system.transferData.avoidTest.reversed}}
                <div class="form-group">
                    <label>{{localize "WH.TransferData.Manual"}}</label>
                    <input type="checkbox" name="system.transferData.avoidTest.manual" {{checked
                        system.transferData.avoidTest.manual}}>
                    <p class="notes">{{{localize "WH.TransferData.AvoidTestManual"}}}</p>
                </div>
            {{/unless}}
        {{/unless}}

        {{#if (eq system.transferData.avoidTest.value "custom")}}
           {{> avoidTestDetails}}
        {{/if}}

        {{#if ../configuration.zone}}
        {{else }}
            {{#if (eq system.transferData.type "area")}}
                <div class="form-group">
                    <label>{{localize "WH.TransferData.AreaType"}}</label>
                    <div class="form-fields">
                        <select name="system.transferData.areaType">
                            {{#select system.transferData.areaType}}
                                <option value="instantaneous">{{localize "WH.TransferData.AreaTypeInstantaneous"}}
                                </option>
                                <option value="sustained">{{localize "WH.TransferData.AreaTypeSustained"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            {{/if}}

            {{#if (eq system.transferData.type "aura")}}
                <div class="form-group">
                    <label>{{localize "WH.TransferData.TargetedAura"}}</label>
                    <input type="checkbox" name="system.transferData.targetedAura" {{checked
                        system.transferData.targetedAura}}>
                    <p class="notes">{{localize "WH.TransferData.TargetedAuraHint"}}</p>
                </div>

                <div class="form-group">
                    <label>{{localize "WH.TransferData.RenderAura"}}</label>
                    <input type="checkbox" name="system.transferData.renderAura" {{checked
                        system.transferData.renderAura}}>
                    <p class="notes">{{localize "WH.TransferData.RenderAuraHint"}}</p>
                </div>
            {{/if}}

            {{#if (or (eq system.transferData.type "aura") (eq system.transferData.type "area"))}}
                <div class="form-group">
                    <label>{{localize "WH.TransferData.Keep"}}</label>
                    <input type="checkbox" name="system.transferData.keep" {{checked system.transferData.keep}}>
                    <p class="notes">{{localize "WH.TransferData.KeepHint"}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "WH.TransferData.Radius"}}</label>
                    <input type="text" name="system.transferData.radius" value="{{transferData.radius}}"
                        placeholder="Inherit">
                    <p class="notes">{{localize "WH.TransferData.RadiusHint"}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "WH.TransferData.TemplateData"}}
                        <a class="configure-template" data-path="system.transferData.templateData"><i
                                class="fa-solid fa-gear"></i></a>
                    </label>
                    <p class="notes">{{{localize "WH.TransferData.TemplateDataHint"}}}</p>
                </div>
            {{/if}}
        {{/if}}

        <div class="form-group">
            <label>{{localize "WH.TransferData.TestIndependent"}}</label>
            <input type="checkbox" name="system.transferData.testIndependent" {{checked
                system.transferData.testIndependent}}>
            <p class="notes">{{localize "WH.TransferData.TestIndependentHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "WH.TransferData.PreApplyScript"}}<a class="script-config"
                    data-path="system.transferData.preApplyScript"><i
                        class="fa-solid fa-gear-complex-code"></i></a></label>
            <p class="notes">{{localize "WH.TransferData.PreApplyScriptHint"}}</p>
        </div>

        {{#if (hasProperty this "transferData.equipTransfer")}}
            <div class="form-group">
                <label>{{localize "WH.TransferData.EquipTransfer"}}</label>
                <input type="checkbox" name="system.transferData.equipTransfer" {{checked
                    system.transferData.equipTransfer}}>
                <p class="notes">{{localize "WH.TransferData.EquipTransferHint"}}</p>
            </div>
        {{/if}}

        {{#if (hasProperty this "transferData.enableConditionScript")}}
            <div class="form-group">
                <label>{{localize "WH.TransferData.EnableScript"}}<a class="script-config"
                        data-path="system.transferData.enableConditionScript"><i
                            class="fa-solid fa-gear-complex-code"></i></a></label>
                <p class="notes">{{localize "WH.TransferData.EffectApplicationEnableScriptHint"}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "transferData.filter")}}
            <div class="form-group">
                <label>{{localize "WH.TransferData.Filter"}}
                    <a class="script-config" data-path="system.transferData.filter">
                        <i class="fa-solid fa-gear-complex-code"></i>
                    </a>
                </label>
                <p class="notes">{{{localize "WH.TransferData.FilterHint"}}}</p>
            </div>
        {{/if}}
        {{#if (hasProperty this "transferData.prompt")}}
            <div class="form-group">
                <label>{{localize "WH.TransferData.Prompt"}}</label>
                <input type="checkbox" name="system.transferData.prompt" {{checked system.transferData.prompt}}>
                <p class="notes">{{{localize "WH.TransferData.PromptHint"}}}</p>
            </div>
        {{/if}}
    {{/with}}
</div>