<div class="transfer-config">

    <div class="form-group">
        <label>{{localize "WH.TransferData.TransferType"}}</label>
        <select name="system.transferData.type">
            {{selectOptions (config "transferTypes") selected=system.transferData.type}}
        </select>
        <p class="notes">{{localize "WH.TransferData.TransferTypeHint"}}</p>
    </div>



    <div class="form-group">
        <label>{{localize "WH.TransferData.DocumentType"}}</label>
        <select name="system.transferData.documentType">
            {{selectOptions (config "transferDocumentTypes") selected=system.transferData.documentType}}
        </select>
        <p class="notes">{{localize "WH.TransferData.DocumentTypeHint"}}</p>
    </div>

    {{#unless hidden.equipTransfer}}
        <div class="form-group">
            <label>{{localize "WH.TransferData.EquipTransfer"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="system.transferData.equipTransfer" {{checked
                    system.transferData.equipTransfer}}>
            </div>
            <p class="notes">{{localize "WH.TransferData.EquipTransferHint"}}</p>
        </div>
    {{/unless}}

    <div class="form-group">
        <label><a data-action="advancedConfig">{{localize "WH.TransferData.AdvancedConfig"}} <i class="fa-solid fa-gears"></i></a></label>
    </div>
</div>