{{#*inline ".packs"}}

<fieldset class="card packs-section">
    <legend>{{ localize label }}</legend>
    <menu class="packs-list unlist {{ type }}">
        {{#if (gt entries.length 1)}}
        <li class="all">
            <label class="checkbox">
                <warhammer-checkbox name="all-{{ type }}" {{ checked checked }} data-type="pack"
                                    {{#if indeterminate}}indeterminate{{/if}}></warhammer-checkbox>
                <span class="title">{{ localize "all" }}</span>
            </label>
        </li>
        {{/if}}
        {{#each entries}}
        <li>
            <label class="checkbox">
                <warhammer-checkbox name="{{ id }}" {{ checked checked }} data-type="pack"></warhammer-checkbox>
                <span class="title">{{ title }}</span>
            </label>
        </li>
        {{/each}}
    </menu>
</fieldset>

{{/inline}}


<section>
    <div class="type-entry">
        <label>
            <input type="checkbox" data-action="toggleWorldItems" {{checked worldItems}}>
            <span>{{localize "WH.CompendiumBrowser.WorldItems"}}</span>
        </label>
    </div>
    <section class="packs">

        {{#if packs.items.entries.length}}
        {{> ".packs" packs.items type="items" label="DOCUMENT.Items" }}
        {{/if}}
        {{#if packs.actors.entries.length}}
        {{> ".packs" packs.actors type="actors" label="DOCUMENT.Actors" }}
        {{/if}}
    </section>
</section>
