<div class="form-group {{classes}}">
    <label>{{localize label}}</label>
    <div class="form-fields">
        <div class="like-input document-reference droppable" data-path="{{path}}">
            {{#if document.uuid}}
            <div>
                {{#if imgPath}}
                <img src="{{imgPath}}">
                {{/if}}
                <a data-action="editEmbedded" data-uuid="{{document.uuid}}">{{document.name}}</a>
            </div>
                <a data-action="unset" class="floating"><i class="fa-solid fa-xmark"></i></a>
            {{/if}}
        </div>
    </div>
</div>