{{#if targetEffects.length}}
    <div class="test-buttons">
        {{#each targetEffects as |effect e|}}
            <button class="apply-target" data-uuid="{{effect.uuid}}" type="button"><i class="fa-solid fa-crosshairs"></i><img src="{{effect.img}}" width="25" height="25"> <p>{{localize 'WH.ApplyEffect' name=effect.name}}{{#if effect.testDisplay}}<br><span class="test-label">{{effect.testDisplay}}</span>{{/if}}</p></button>
        {{/each}}
    </div>
{{/if}}

{{#if areaEffects.length}}
    <div class="test-buttons">
        {{#each areaEffects as |effect e|}}
            <button class="place-area" data-uuid={{effect.uuid}} type="button"><i class="fa-solid fa-ruler-combined"></i><img src="{{effect.img}}" width="25" height="25"> {{localize "WH.PlaceEffect" name=effect.name}}{{#if effect.testDisplay}}<br><span class="test-label">{{effect.testDisplay}}</span>{{/if}}</p></button>
        {{/each}}
    </div>
{{/if}}

{{#if zoneEffects.length}}
    <div class="test-buttons">
        {{#each zoneEffects as |effect e|}}
            <button class="place-zone" data-uuid={{effect.uuid}} type="button"><i class="fa-solid fa-game-board-simple"></i><img src="{{effect.img}}" width="25" height="25"> {{localize "WH.PlaceEffect" name=effect.name}}{{#if effect.testDisplay}}<br><span class="test-label">{{effect.testDisplay}}</span>{{/if}}</p></button>
        {{/each}}
    </div>
{{/if}}