{{#if targetEffects.length}}
    <div class="test-buttons">
        {{#each targetEffects as |effect e|}}
        {{#if effect.system.transferData.selfOnly}}
            <button data-action="applyTargetEffect" data-uuid="{{effect.uuid}}" data-path="{{effect.path}}" type="button"><i data-tooltip="WH.ApplyTooltips.Self" data-tooltip-direction="LEFT" class="fa-solid fa-person-rays"></i><img src="{{effect.img}}" width="25" height="25"> <div class="apply-label">{{localize 'WH.ApplyEffect' name=effect.name}}{{#if effect.testDisplay}}<div class="test-label">{{effect.testDisplay}}</div></div>{{/if}}</button>
        {{else}}
            <button data-action="applyTargetEffect" data-uuid="{{effect.uuid}}" data-path="{{effect.path}}" type="button"><i data-tooltip="WH.ApplyTooltips.Target" data-tooltip-direction="LEFT" class="fa-solid fa-crosshairs"></i><img src="{{effect.img}}" width="25" height="25"> <div class="apply-label">{{localize 'WH.ApplyEffect' name=effect.name}}{{#if effect.testDisplay}}<div class="test-label">{{effect.testDisplay}}</div></div>{{/if}}</button>
        {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if areaEffects.length}}
    <div class="test-buttons">
        {{#each areaEffects as |effect e|}}
            <button data-action="placeAreaEffect" data-uuid={{effect.uuid}} data-path="{{effect.path}}" type="button"><i data-tooltip="WH.ApplyTooltips.Area" data-tooltip-direction="LEFT" class="fa-solid fa-ruler-combined"></i><img src="{{effect.img}}" width="25" height="25">  <div class="apply-label">{{localize "WH.PlaceEffect" name=effect.name}}{{#if effect.testDisplay}} <div class="test-label">{{effect.testDisplay}}</div></div>{{/if}}</button>
        {{/each}}
    </div>
{{/if}}

{{#if zoneEffects.length}}
    <div class="test-buttons">
        {{#each zoneEffects as |effect e|}}
            <button data-action="applyZoneEffect" data-uuid={{effect.uuid}} data-path="{{effect.path}}" type="button"><i data-tooltip="WH.ApplyTooltips.Zone" data-tooltip-direction="LEFT" class="fa-solid fa-game-board-simple"></i><img src="{{effect.img}}" width="25" height="25"> <div class="apply-label">{{localize "WH.PlaceEffect" name=effect.name}}{{#if effect.testDisplay}} <div class="test-label">{{effect.testDisplay}}</div></div>{{/if}}</button>
        {{/each}}
    </div>
{{/if}}