
<div class="mode-field">
    
<div class="form-group">
    <label>{{localize "WH.RollMode"}}</label>
    <div class="form-fields">
        <select name="rollMode">
            {{#select fields.rollMode}}
                <option value="publicroll">{{localize "CHAT.RollPublic"}}</option>
                <option value="gmroll">{{localize "CHAT.RollPrivate"}}</option>
                <option value="blindroll">{{localize "CHAT.RollBlind"}}</option>
                <option value="selfroll">{{localize "CHAT.RollSelf"}}</option>
            {{/select}}
        </select>
    </div>
</div>
</div>