<div>
  <div class="form-group stacked">
    <label class="centered">{{label}}</label>
    <div class="form-fields">
      {{#if values}}
        <select name="value">
          <option value=""></option>
          {{selectOptions values valueAttr="key" labelAttr="display" selected=defaultValue}}
        </select>
      {{else}}
        <input name="value" type="text" value="{{defaultValue}}" autofocus=true>
      {{/if}}
    </div>
  </div>
  <div class="form-footer" style="margin-top: 0.5rem">
    <button>{{localize "Submit"}}</button>
  </div>
</div>
