<div>
    {{#if text}}
      <div class="dialog-text">{{{text}}}</div>
    {{/if}}


      <ol class="dialog-list">
        {{#each items}}
        <li class="dialog-item" data-action="clickItem" data-index="{{@key}}" data-uuid="{{this.uuid}}">
          {{#if this.img}}
          <img class="thumbnail" data-tooltip="{{this.name}}" src="{{this.img}}">
          {{/if}}
          <label><a>{{this.name}}</a></label>
        </li>
        {{/each}}
      </ol>

  <footer class="form-footer">
    <button type="submit">Submit</button>
  </footer>
</div>    
